API : A sigla vem de "Interface de Programação de Aplicativos" e a informação vem de um servidor Web, então toda a informação
        vem da internet (nós vamos usar os dados do "yahoo" finance no decorrer das aulas) o Pandas DataReader vai nos ajudar 
        a acessar esses dados

CSV : A Sigla vem de "Valor Separado por Vírgula" e não precisa de internet para ser acessado

In [1]:
import numpy as np
import pandas as pd

In [2]:
serie = pd.Series(np.random.random(7), name = 'coluna 01')

In [3]:
serie

0    0.397516
1    0.714166
2    0.883379
3    0.593175
4    0.570652
5    0.317870
6    0.861647
Name: coluna 01, dtype: float64

In [4]:
serie[4]

0.5706524280336039

In [5]:
from pandas_datareader import data as wb

In [6]:
PETR4 = wb.DataReader('PETR4.SA',data_source='yahoo', start='2010-1-1')

In [7]:
PETR4

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  37.320000  36.820000  36.950001  37.320000  13303600.0  31.196165
2010-01-05  37.430000  36.799999  37.380001  37.000000  21396400.0  30.928682
2010-01-06  37.500000  36.799999  36.799999  37.500000  18720600.0  31.346632
2010-01-07  37.450001  37.070000  37.270000  37.150002  10964600.0  31.054062
2010-01-08  37.389999  36.860001  37.160000  36.950001  14624200.0  30.886881
...               ...        ...        ...        ...         ...        ...
2020-09-04  23.030001  22.580000  23.000000  22.920000  52351100.0  22.920000
2020-09-08  22.500000  21.910000  22.500000  22.260000  74490200.0  22.260000
2020-09-09  22.770000  22.490000  22.490000  22.730000  42143500.0  22.730000
2020-09-10  22.580000  22.110001  22.580000  22.120001  58350000.0  22.120001
2020-09-11  22.260000  21.750000  22.120001  21.910000  54410600.0  21.910000

[2615 rows x 6 columns]

In [8]:
PETR4.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2615 entries, 2010-01-04 to 2020-09-11
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       2615 non-null   float64
 1   Low        2615 non-null   float64
 2   Open       2615 non-null   float64
 3   Close      2615 non-null   float64
 4   Volume     2615 non-null   float64
 5   Adj Close  2615 non-null   float64
dtypes: float64(6)
memory usage: 143.0 KB

In [11]:
PETR4.head(52)

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  37.320000  36.820000  36.950001  37.320000  13303600.0  31.196165
2010-01-05  37.430000  36.799999  37.380001  37.000000  21396400.0  30.928682
2010-01-06  37.500000  36.799999  36.799999  37.500000  18720600.0  31.346632
2010-01-07  37.450001  37.070000  37.270000  37.150002  10964600.0  31.054062
2010-01-08  37.389999  36.860001  37.160000  36.950001  14624200.0  30.886881
2010-01-11  37.340000  36.619999  37.209999  36.830002  15317700.0  30.786566
2010-01-12  36.680000  36.040001  36.590000  36.360001  14886200.0  30.393690
2010-01-13  36.740002  35.840000  36.560001  36.299999  23228200.0  30.343531
2010-01-14  36.459999  35.560001  36.279999  35.669998  20073400.0  29.816916
2010-01-15  36.099998  35.509998  35.570000  35.750000  21169000.0  29.883787
2010-01-18  36.669998  35.770000  35.900002  36.549999  23168400.0  30.552507
2010-01-19  36.650002  36.240002  36.450001  36.380001  16895900.0  30.410414
2010-01-20  36.150002  35.259998  36.099998  35.450001  18757500.0  29.633018
2010-01-21  35.700001  34.290001  35.580002  34.330002  24553000.0  28.696796
2010-01-22  34.799999  34.060001  34.110001  34.750000  19025100.0  29.047865
2010-01-26  34.340000  33.650002  34.290001  33.900002  20281200.0  28.337358
2010-01-27  34.290001  33.509998  33.900002  34.110001  19908600.0  28.512896
2010-01-28  34.689999  33.869999  34.599998  34.610001  13819200.0  28.930847
2010-01-29  35.049999  33.930000  34.779999  34.169998  16106700.0  28.563046
2010-02-01  34.490002  33.900002  34.290001  34.299999  15869300.0  28.671721
2010-02-02  34.669998  34.060001  34.509998  34.099998  15289600.0  28.504538
2010-02-03  34.180000  33.730000  34.049999  34.040001  16091200.0  28.454376
2010-02-04  33.939999  32.119999  33.840000  32.299999  24280300.0  26.999897
2010-02-05  32.270000  30.719999  31.799999  31.520000  29033800.0  26.347887
2010-02-08  32.259998  31.420000  31.799999  31.740000  18684700.0  26.531788
2010-02-09  32.680000  32.099998  32.200001  32.240002  18104200.0  26.949741
2010-02-10  32.730000  31.770000  32.330002  32.639999  21909900.0  27.284105
2010-02-11  33.470001  32.730000  32.889999  33.360001  24110900.0  27.885965
2010-02-12  34.020000  32.950001  33.000000  33.799999  19127100.0  28.253763
2010-02-17  34.500000  34.029999  34.389999  34.250000  16622400.0  28.629927
2010-02-18  34.689999  33.820000  34.240002  34.689999  17017800.0  28.997721
2010-02-19  34.650002  34.160000  34.419998  34.349998  11889400.0  28.713511
2010-02-22  34.889999  34.410000  34.500000  34.650002  19817500.0  28.964285
2010-02-23  34.650002  34.000000  34.410000  34.189999  16937500.0  28.579762
2010-02-24  34.349998  33.639999  34.290001  33.939999  13563100.0  28.370787
2010-02-25  34.500000  33.259998  33.480000  34.380001  18650100.0  28.738590
2010-02-26  34.750000  34.209999  34.590000  34.610001  17804300.0  28.930847
2010-03-01  35.049999  34.419998  34.820000  34.930000  16959300.0  29.198341
2010-03-02  35.520000  35.119999  35.250000  35.119999  17108100.0  29.357168
2010-03-03  35.820000  35.049999  35.279999  35.150002  19957600.0  29.382242
2010-03-04  35.490002  34.810001  35.389999  35.200001  14068900.0  29.424036
2010-03-05  35.919998  35.400002  35.689999  35.810001  28235000.0  29.933943
2010-03-08  35.990002  35.410000  35.939999  35.700001  15902100.0  29.841991
2010-03-09  36.849998  35.459999  35.500000  36.500000  68696600.0  30.510721
2010-03-10  37.160000  36.650002  36.880001  37.000000  32196400.0  30.928682
2010-03-11  37.470001  36.810001  36.930000  37.049999  19449600.0  30.970472
2010-03-12  37.410000  37.060001  37.200001  37.060001  13940300.0  30.978830
2010-03-15  37.230000  36.470001  36.759998  36.770000  19839600.0  30.736416
2010-03-16  37.209999  36.700001  36.930000  37.209999  12807500.0  31.104221
2010-03-17  37.480000  36.930000  37.430000  37.150002  10298100.0  31.054062
2010-03-18  37.400002  36.759998  37.139999  37.020000  12061700.0  30.945391
2010-03-19  37.090000  36.160000  37.000000  36.230000  24306500.0  30.285025

In [13]:
PETR4.tail(9)

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-08-31  22.430000  21.889999  22.320000  21.889999  48539700.0  21.889999
2020-09-01  22.889999  22.120001  22.200001  22.870001  66299700.0  22.870001
2020-09-02  23.100000  22.520000  22.930000  22.799999  53618000.0  22.799999
2020-09-03  23.120001  22.570000  22.610001  22.879999  87642400.0  22.879999
2020-09-04  23.030001  22.580000  23.000000  22.920000  52351100.0  22.920000
2020-09-08  22.500000  21.910000  22.500000  22.260000  74490200.0  22.260000
2020-09-09  22.770000  22.490000  22.490000  22.730000  42143500.0  22.730000
2020-09-10  22.580000  22.110001  22.580000  22.120001  58350000.0  22.120001
2020-09-11  22.260000  21.750000  22.120001  21.910000  54410600.0  21.910000

In [14]:
tickers = ['PETR4.SA','GGBR4.SA','MRVE3.SA','CVCB3.SA']
novos_dados = pd.DataFrame()
for t in tickers:
    novos_dados[t] = wb.DataReader(t, data_source='yahoo', start = '2010-1-1')['Adj Close']

In [15]:
novos_dados.tail()

             PETR4.SA   GGBR4.SA   MRVE3.SA   CVCB3.SA
Date
2020-09-04  22.920000  19.920000  17.930000  18.070000
2020-09-08  22.260000  19.690001  17.889999  18.000000
2020-09-09  22.730000  20.530001  18.209999  17.709999
2020-09-10  22.120001  19.850000  17.799999  17.059999
2020-09-11  21.959999  20.059999  17.400000  16.690001